<p>welcome to my site</p>

<h2>Hallo <%= nama %></h2>

<h4>daftar Mahasiswa</h4>

<% if (mahasiswa.length < 1 ) { %>
<p>data mahasiswa masih kosong</p>
<% } else {%> <% mahasiswa.forEach(mhs => { %>
<ul>
  <li>nama : <%= mhs.nama %></li>
  <li>email : <%= mhs.email %></li>
</ul>
<% }) %> <% } %>
